services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Wexample\SymfonyDev\:
        resource: '../../{Command}'
        tags: ['controller.service_arguments']
